<DOCTYPE! html>

<html>
	<head>
		<title>COVID-19 Information</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../static/css/style.css">
	</head>
	<body>
		<h1>COVID-19 Information</h1>
		<h2>Mission Statement:</h2>
		<p>We aim to increase knowledge and awareness of COVID-19 to better combat the virus.
			Currently, the best way to reduce the spread and flatten the curve is through everyone's
			cooperation and working together to do so. Through ignorance and misinformation, some
			people choose to disregard best practices. It is our hope that by providing an easy means
			of consuming COVID information, a way to confirm learning (and validate Facts over Myths),
			and a means of social pressure via score comparison, we can spur more people to action to
			stop the spread.
		</p>

		<h2>Facts and Sources</h2>
		<p>Symptoms include:</p>
		<ul style="font-size: 20px;">
			<li>Fever or chills</li>
			<li>Shortness of breath or difficulty breathing</li>
			<li>Fatigue</li>
			<li>Muscle or body aches</li>
			<li>Headache</li>
			<li>New loss of taste or smell</li>
			<li>Sore throat</li>
			<li>Congestion or runny nose</li>
			<li>Nausea or vomiting</li>
			<li>Diarrhea</li>
		</ul>
		<p>Severe Symptoms Include:</p>
		<ul style="font-size: 20px;">
			<li>Trouble breathing</li>
			<li>Persistent pain or pressure in the chest</li>
			<li>New confusion</li>
			<li>Inability to wake or stay awake</li>
			<li>Bluish lips or face</li>
			
		</ul>
		<p id="facts-date">These facts are relevant to your region and up to date as of </p>
		<label style="font-size: 20px;" for="region">Select your region</label>
		<select style="font-size: 20px;" name="region" id="region"
			onchange="update_case_facts(case_data_csv);
			update_test_facts(test_data_json);">
			<!--This gets filled by JS-->
		</select>
		<ul style="font-size: 20px;">
			<li id="fact-1">Fact 1</li>
			<li id="fact-2">Fact 2</li>
			<li id="fact-3">Fact 3</li>
			<li id="fact-4">Fact 4</li>
		</ul>

		<h2>COVID-19 Quiz</h2>
		<a style="font-size: 70px;" href="http://127.0.0.1:5000/quiz">Take a Quiz!</a>

		<script type=text/javascript src="{{url_for('static', filename='js/script.js') }}"></script>

	</body>
</html>
